@font-face {
font-family:'ALS Rubl';
font-style:normal;
font-weight:400;
src:local('ALS Rubl'),url(../fonts/rouble.woff) format("woff")
}
html{font-family: Tahoma,Verdana,Segoe,sans-serif;}
html,body,p,ul,li,button,input {
margin:0;
padding:0
}
body{
    background: rgba(5, 37, 68, 0.77);
}
.align{
    
    margin: 0 auto;
    width: 80%;
    
}
h1{
    font-size: 1.7vw;
    text-align: center;
    margin: 2vw 0 1vw;
}
.bg{background: white;border-radius: 0.4vw;
    padding: 1vw;}
#calc_view{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-bottom: 1vw;
}
#calc_view > p{
    font-size: 1.5vw;
    text-align: center;
    padding-bottom: 2vw;
}
#calc_view form{}
.column{
    width: 32%;
}
.column > .fl > p{
    font-size: 1.2vw;
    font-weight: bold;
    /* padding-right: 1vw; */
    width: 70%;
}
.column > .fl > .fl > input{
    border: 1px solid #c2c2c2;
    margin: 0;
    padding: 0 0.5vw;
    height: 2vw;
    font-size: 1vw;
    width: 70%;
    margin-right: 0.5vw;
}
.column > .fl > .fl{
    width: 50%;
    justify-content: flex-end;
}
.column > .fl > .fl > span{
    font-size: 1vw;
}
.rubl{font-family:'ALS Rubl';}
.fl{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.drag{
    position: relative;
    width: 100%;
    height: 3vw;
    background: rgba(194, 194, 194, 0.3);
    margin-top: 1vw;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.drag_line{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #53b548;
}
.drag_pointer{
    position: absolute;
    top: 0;
    left: 0;
    width: 3vw;
    height: 3vw;
    background: #005bac;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.drag_pointer svg{
    width: 1vw;
    height: 1vw;
    display: block;
    stroke: #fd0;
    fill: none;
}
#result_view{
    width: 49%;
}
.result_line{
    border-bottom: 1px dashed #005bac;
    margin-bottom: 1.5vw;
    align-items: flex-end;
}
.result_line p:first-child{
    width: 50%;
    font-size: 1.3vw;
}
.result_line p:last-child{
    font-size: 2vw;
}
#mount_result{
    color: #53b548;
    align-items: flex-end;
}
#mount_result span:first-child{
    font-size: 3vw;
}
.result_line p:last-child span:first-child{
	margin-right: 0.5vw;
}
#mount_result span:last-child{}
#confirm_view{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#make_order{
    font-size: 3vw;
    cursor: pointer;
    background: #005bac;
    padding: 1vw;
    border-radius: 0.5vw;
    color: #fd0;
    margin-bottom: 1.5vw;
}
#confirm_check{
    transition: 0.5s ease-out;
    /* background: red; */
}
#confirm_check.red{background: red;}
#confirm_check.red svg{opacity: 1}
#confirm_check p{
    margin-left: 0.5vw;
    /* cursor: pointer; */
}
#confirm_check p span{
	text-decoration: underline;
	color: #0000EE;
	cursor: pointer;
}
#chek_box{
    background: #53b548;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 0.3vw;
    cursor: pointer;
    justify-content: center;
}
#chek_box svg{
    width: 1vw;
    height: 1vw;
    stroke: #fd0;
    fill: none;
    stroke-width: 2px;
    opacity: 0;
    transition: opacity 0.3s ease-o;
}
#chek_box.active svg{opacity: 1;}
#info_box{align-items: stretch;}

#lb_box {
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:9999;
display:flex;
align-items:center;
opacity:0;
justify-content:center
}

#lb_wrap {position:relative;width: 60%;max-height:70%;padding: 2vw;height:1px;border-radius:5px;background:#fff;/* font-size: 1.5vw; *//* text-align: center; */}

#lb_close {position:absolute;top:0;left:0;width:100%;height:100%;background: rgba(0, 0, 0, 0.3);cursor:pointer;}

#lb_close_ico {position:absolute;top: -2vw;right: -2vw;width: 0.9vw;fill:none;stroke: white;cursor:pointer;z-index:900;padding: 0.3vw;border: 1px solid white;border-radius: 10vw;}

#lb_wrap_scroll.scroll {
overflow-x:hidden;
height:100%;
overflow-y:scroll
}

.block_scrool {
overflow:hidden
}
#lipsum{font-size: 1vw;padding-right: 2vw;}
#lipsum p{padding-bottom: 0.5vw;}